<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.mapper.ParkingPaymentRecordMapper">

    <resultMap type="ParkingPaymentRecord" id="ParkingPaymentRecordResult">
        <id property="paymentId" column="payment_id"/>
        <result property="bizOrderNo" column="biz_order_no"/>
        <result property="bizOrderType" column="biz_order_type"/>
        <result property="customerId" column="customer_id"/>
        <result property="lotId" column="lot_id"/>
        <result property="payChannel" column="pay_channel"/>
        <result property="payAmount" column="pay_amount"/>
        <result property="payStatus" column="pay_status"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="payTime" column="pay_time"/>
        <result property="refundTime" column="refund_time"/>
        <result property="lotName" column="lot_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectParkingPaymentRecordColumns">
        select
            r.payment_id,
            r.biz_order_no,
            r.biz_order_type,
            r.customer_id,
            r.lot_id,
            r.pay_channel,
            r.pay_amount,
            r.pay_status,
            r.trade_no,
            r.pay_time,
            r.refund_time,
            l.lot_name,
            r.create_by,
            r.create_time,
            r.update_by,
            r.update_time,
            r.remark
        from parking_payment_record r
        left join parking_lot l on l.lot_id = r.lot_id and l.del_flag = '0'
    </sql>

    <select id="selectParkingPaymentRecordById" parameterType="Long" resultMap="ParkingPaymentRecordResult">
        <include refid="selectParkingPaymentRecordColumns"/>
        where r.payment_id = #{paymentId}
    </select>

    <select id="selectParkingPaymentRecordByTradeNo" resultMap="ParkingPaymentRecordResult">
        <include refid="selectParkingPaymentRecordColumns"/>
        where r.trade_no = #{tradeNo}
    </select>

    <select id="selectParkingPaymentRecordList" parameterType="ParkingPaymentRecord" resultMap="ParkingPaymentRecordResult">
        <include refid="selectParkingPaymentRecordColumns"/>
        <where>
            <if test="bizOrderNo != null and bizOrderNo != ''">
                and r.biz_order_no like concat('%', #{bizOrderNo}, '%')
            </if>
            <if test="bizOrderType != null and bizOrderType != ''">
                and r.biz_order_type = #{bizOrderType}
            </if>
            <if test="payChannel != null and payChannel != ''">
                and r.pay_channel = #{payChannel}
            </if>
            <if test="payStatus != null and payStatus != ''">
                and r.pay_status = #{payStatus}
            </if>
            <if test="lotId != null">
                and r.lot_id = #{lotId}
            </if>
            <if test="customerId != null">
                and r.customer_id = #{customerId}
            </if>
            <if test="params != null and params.payTimeStart != null and params.payTimeStart != ''">
                and r.pay_time &gt;= #{params.payTimeStart}
            </if>
            <if test="params != null and params.payTimeEnd != null and params.payTimeEnd != ''">
                and r.pay_time &lt;= #{params.payTimeEnd}
            </if>
        </where>
        order by r.payment_id desc
    </select>

    <insert id="insertParkingPaymentRecord" parameterType="ParkingPaymentRecord" useGeneratedKeys="true" keyProperty="paymentId">
        insert into parking_payment_record (
            biz_order_no,
            biz_order_type,
            customer_id,
            lot_id,
            pay_channel,
            pay_amount,
            pay_status,
            trade_no,
            pay_time,
            refund_time,
            create_by,
            create_time,
            remark
        ) values (
            #{bizOrderNo},
            #{bizOrderType},
            #{customerId},
            #{lotId},
            #{payChannel},
            #{payAmount},
            #{payStatus},
            #{tradeNo},
            #{payTime},
            #{refundTime},
            #{createBy},
            sysdate(),
            #{remark}
        )
    </insert>

    <update id="updateParkingPaymentRecord" parameterType="ParkingPaymentRecord">
        update parking_payment_record
        <set>
            <if test="bizOrderNo != null and bizOrderNo != ''">biz_order_no = #{bizOrderNo},</if>
            <if test="bizOrderType != null and bizOrderType != ''">biz_order_type = #{bizOrderType},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="lotId != null">lot_id = #{lotId},</if>
            <if test="payChannel != null and payChannel != ''">pay_channel = #{payChannel},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="payStatus != null and payStatus != ''">pay_status = #{payStatus},</if>
            <if test="tradeNo != null and tradeNo != ''">trade_no = #{tradeNo},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where payment_id = #{paymentId}
    </update>

    <delete id="deleteParkingPaymentRecordByIds">
        delete from parking_payment_record
        where payment_id in
        <foreach collection="paymentIds" item="paymentId" open="(" separator="," close=")">
            #{paymentId}
        </foreach>
    </delete>

</mapper>
